1. For all const data: please read from app/dummydata, if necessary, ask developer whether to create on and store in app/dummydata or not.

2. This is a react-router app. We must not use expo or next.js code. use @react-router/node": "^7.5.3", "@react-router/serve"